outputs/
data/
.venv/
.git/
_oldoutputs/
scripts/SetUpRunpodDou.txt
*.pyc
models/
train_sam/patches
.idea/
startup_mllm_commands.txt
create_qwen8b3_pod.txt
/.idea/Masterarbeit.iml
/.idea/misc.xml
/.idea/vcs.xml

/runs/

/.env
/requirements_master.txt
/requirements.txt
/TODO_MASTER.txt
/uv.lock
/src/test_script.ipynb
/src/test_script.ipynb
/.idea/Masterarbeit.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/Masterarbeit.iml
/.idea/misc.xml
/.idea/vcs.xml
